body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;

}
button{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    color: black;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    box-shadow: 6px 6px 12px #bebecc, -6px -6px 12px #ffffff;
    
}
button:hover{
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: right;
    background-color: #ffffff;
    color: black;
    border: none;
    box-shadow: 6px 6px 12px #bebecc, -6px -6px 12px #ffffff;
   
}
button:active{
    box-shadow: inset 6px 6px 12px #bebecc, inset -6px -6px 12px #ffffff;
}
@media (max-width: 600px) {
    button{
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }
    #display{
        font-size: 2rem;
        padding: 15px;
    }
    
}